APP_URL=http://localhost:8000

APP_KEY=base64:use_strong_app_key

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=passicode_testing
DB_USERNAME=root
DB_PASSWORD=root

FILESYSTEM_DISK=test

MAIL_MAILER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=example@example.com
MAIL_PASSWORD=request_mail_password_from_gmail_by_creating_gmail_app
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS="MAIL_FROM_ADDRESS"
MAIL_FROM_NAME="PassiCode"

JWT_SECRET=use_strong_jwt_secret